@import "reset";

:root {
    /* -------------------- Colors -------------------- */
    --clr-success: #04d361;
    --clr-danger: #cc2937;
    --clr-warning: #fba94c;

    --clr-white: #ffffff;
    --clr-black: #000000;

    --clr-grey-100: #e1e1e6;
    --clr-grey-200: #c4c4cc;
    --clr-grey-300: #8d8d99;
    --clr-grey-400: #7c7c8a;
    --clr-grey-500: #505059;
    --clr-grey-600: #323238;
    --clr-grey-700: #29292e;
    --clr-grey-800: #202024;
    --clr-grey-900: #121214;
    --clr-grey-950: #09090a;

    /* -------------------- Spaces -------------------- */
    --section-spacing: 4rem;

    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 0.75rem;
    --space-4: 1rem;
    --space-5: 1.25rem;
    --space-6: 1.5rem;
    --space-7: 1.75rem;
    --space-8: 2rem;
    --space-9: 2.25rem;
    --space-10: 2.5rem;
    --space-12: 3rem;
    --space-16: 4rem;
    --space-20: 5rem;
    --space-40: 10rem;
    --space-64: 16rem;
    --space-80: 20rem;

    /* -------------------- Fonts -------------------- */
    --ff-default: "Roboto", sans-serif;
    --ff-highlight: "Roboto", sans-serif;

    --fs-xxs: 0.625rem;
    --fs-xs: 0.75rem;
    --fs-sm: 0.875rem;
    --fs-md: 1rem;
    --fs-lg: 1.125rem;
    --fs-xl: 1.25rem;
    --fs-2xl: 1.5rem;
    --fs-4xl: 2rem;
    --fs-5xl: 2.25rem;
    --fs-6xl: 3rem;
    --fs-7xl: 4rem;
    --fs-8xl: 4.5rem;
    --fs-9xl: 6rem;

    --fw-thin: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --lineHeight-shorter: 125%;
    --lineHeight-short: 140%;
    --lineHeight-base: 160%;
    --lineHeight-tall: 180%;

    /* -------------------- Borders -------------------- */
    --borderWidth-thin: 1px;
    --borderWidth-medium: 1.5px;
    --borderWidth-thick: 2px;
    --borderWidth-heavy: 4px;

    --radius-xs: 2.5px;
    --radius-sm: 5px;
    --radius-md: 10px;
    --radius-lg: 20px;
    --radius-full: 99999px;

    /* -------------------- Opacity -------------------- */
    --opacity-default: 100%;
    --opacity-semiOpaque: 90%;
    --opacity-intense: 75%;
    --opacity-medium: 50%;
    --opacity-light: 25%;
    --opacity-semiTransparent: 10%;

    /* -------------------- Z-Index -------------------- */
    --z-overlay: 995;
    --z-modal: 999;
}

@media (min-width: 45em) {
    :root {
        --section-spacing: 5rem;
    }
}

@media (min-width: 100em) {
    :root {
        --section-spacing: 6rem;
    }
}

/* -------------------- Global font-family -------------------- */
* {
    font-family: var(--ff-default);
}

/* -------------------- Redefining global font-size -------------------- */
// html {
//     font-size: 93.75%;

//     @media (min-width: 40em) {
//         font-size: 100%;
//     }
// }

html {
    font-size: 87.5%;

    @media (min-width: 40em) {
        font-size: 93.75%;
    }

    @media (min-width: 60em) {
        font-size: 100%;
    }
}

/* -------------------- Components -------------------- */

.container {
    --max-width: 85rem;
    width: 90%;
    max-width: var(--max-width);
    margin-inline: auto;
}

.btn {
    cursor: pointer;
    outline: none;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25em;

    text-transform: uppercase;
    text-align: center;
    font-weight: bold;

    color: #000;
    padding: 0.75em 1.25em;

    min-width: 15em;
    max-width: max-content;

    &:focus,
    &:hover {
        transition: filter 300ms ease;
        filter: brightness(0.75);
    }

    &-primary {
        --bg: var(--clr-warning);
        color: var(--clr-white);
        background: var(--bg);
    }

    &-outlined {
        --bg: var(--clr-danger);

        border: var(--borderWidth-medium) solid var(--bg);

        &:focus,
        &:hover {
            transition: all 300ms ease;
            filter: none;
            color: var(--clr-white);
            background-color: var(--bg);
        }
    }

    &-rounded {
        --bg: var(--clr-success);

        background-color: var(--bg);
        border-radius: var(--radius-full);
    }

    &-lighter {
        font-weight: var(--fw-regular);
    }
}

.custom-list {
    --gap: 1rem;

    display: grid;
    gap: var(--gap);

    li {
        display: flex;
        align-items: center;
        gap: 1rem;

        &::before {
            content: "";
            width: 6.5px;
            aspect-ratio: 1;
            background-color: var(--clr-grey-500);
            border-radius: var(--radius-full);
        }
    }
}

/* -------------------- Utility Classes -------------------- */
.spacing {
    &-p {
        padding-block: var(--section-spacing);
    }

    &-m {
        margin-block: var(--section-spacing);
    }
}

.flow {
    --space: 1rem;

    > * + * {
        margin-top: var(--space);
    }
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.bold {
    font-weight: var(--fw-bold);
}

.thin {
    font-weight: var(--fw-thin);
}

.font-xxs {
    font-size: var(--fs-xxs);
}

.font-xs {
    font-size: var(--fs-xs);
}

.font-sm {
    font-size: var(--fs-sm);
}

.font-md {
    font-size: var(--fs-md);
}

.font-lg {
    font-size: var(--fs-lg);
}

.font-xl {
    font-size: var(--fs-xl);
}

.font-2xl {
    font-size: var(--fs-2xl);
}

.font-4xl {
    font-size: var(--fs-4xl);
}

.font-5xl {
    font-size: var(--fs-5xl);
}

.font-6xl {
    font-size: var(--fs-6xl);
    line-height: var(--lineHeight-shorter);
}

.font-7xl {
    font-size: var(--fs-7xl);
    line-height: var(--lineHeight-shorter);
}

.font-8xl {
    font-size: var(--fs-8xl);
    line-height: var(--lineHeight-shorter);
}

.font-9xl {
    font-size: var(--fs-9xl);
    line-height: var(--lineHeight-shorter);
}

.main-title {
    font-size: var(--fs-4xl);
    line-height: var(--lineHeight-shorter);
    font-weight: var(--fw-bold);

    @media (min-width: 45em) {
        font-size: var(--fs-5xl);
    }

    @media (min-width: 70em) {
        font-size: var(--fs-6xl);
    }
}

.section-title {
    font-size: var(--fs-2xl);
    line-height: var(--lineHeight-shorter);
    font-weight: var(--fw-bold);

    @media (min-width: 45em) {
        font-size: var(--fs-4xl);
    }

    @media (min-width: 70em) {
        font-size: var(--fs-5xl);
    }
}

/* -------------------- Animations -------------------- */
@keyframes up {
    from {
        opacity: 0;
        transform: translateY(35px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pop {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-up {
    transform: translateY(35px);
    opacity: 0;

    animation: up 200ms forwards;
}

.animate-pop {
    transform: scale(0);
    opacity: 0;

    animation: pop 300ms forwards;
}

.reverse {
    animation-direction: reverse;
}

.back {
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

.delay-1 {
    animation-delay: 100ms;
}

.delay-2 {
    animation-delay: 200ms;
}

.padding {
    &-top-xs {
        padding-top: var(--space-4);
    }
    &-top-sm {
        padding-top: var(--space-6);
    }
    &-top-md {
        padding-top: var(--space-8);
    }
    &-top-lg {
        padding-top: var(--space-10);
    }
    &-top-xl {
        padding-top: var(--space-16);
    }

    &-bottom-xs {
        padding-bottom: var(--space-4);
    }
    &-bottom-sm {
        padding-bottom: var(--space-6);
    }
    &-bottom-md {
        padding-bottom: var(--space-8);
    }
    &-bottom-lg {
        padding-bottom: var(--space-10);
    }
    &-bottom-xl {
        padding-bottom: var(--space-16);
    }

    &-block-xs {
        padding-block: var(--space-4);
    }
    &-block-sm {
        padding-block: var(--space-6);
    }
    &-block-md {
        padding-block: var(--space-8);
    }
    &-block-lg {
        padding-block: var(--space-10);
    }
    &-block-xl {
        padding-block: var(--space-16);
    }
}

.margin {
    &-top-xs {
        margin-top: var(--space-4);
    }
    &-top-sm {
        margin-top: var(--space-6);
    }
    &-top-md {
        margin-top: var(--space-8);
    }
    &-top-lg {
        margin-top: var(--space-10);
    }
    &-top-xl {
        margin-top: var(--space-16);
    }

    &-bottom-xs {
        margin-bottom: var(--space-4);
    }
    &-bottom-sm {
        margin-bottom: var(--space-6);
    }
    &-bottom-md {
        margin-bottom: var(--space-8);
    }
    &-bottom-lg {
        margin-bottom: var(--space-10);
    }
    &-bottom-xl {
        margin-bottom: var(--space-16);
    }

    &-block-xs {
        margin-block: var(--space-4);
    }
    &-block-sm {
        margin-block: var(--space-6);
    }
    &-block-md {
        margin-block: var(--space-8);
    }
    &-block-lg {
        margin-block: var(--space-10);
    }
    &-block-xl {
        margin-block: var(--space-16);
    }
}

.var-padding {
    &-top-sm {
        padding-top: 1rem;

        @media (min-width: 45em) {
            padding-top: 1.25rem;
        }

        @media (min-width: 70em) {
            padding-top: 1.5rem;
        }
    }

    &-top-md {
        padding-top: 1.75rem;

        @media (min-width: 45em) {
            padding-top: 2rem;
        }

        @media (min-width: 70em) {
            padding-top: 2.25rem;
        }
    }

    &-top-lg {
        padding-top: 2.25rem;

        @media (min-width: 45em) {
            padding-top: 2.5rem;
        }

        @media (min-width: 70em) {
            padding-top: 2.75rem;
        }
    }

    &-bottom-sm {
        padding-bottom: 1rem;

        @media (min-width: 45em) {
            padding-bottom: 1.25rem;
        }

        @media (min-width: 70em) {
            padding-bottom: 1.5rem;
        }
    }

    &-bottom-md {
        padding-bottom: 1.75rem;

        @media (min-width: 45em) {
            padding-bottom: 2rem;
        }

        @media (min-width: 70em) {
            padding-bottom: 2.25rem;
        }
    }

    &-bottom-lg {
        padding-bottom: 2.25rem;

        @media (min-width: 45em) {
            padding-bottom: 2.5rem;
        }

        @media (min-width: 70em) {
            padding-bottom: 2.75rem;
        }
    }

    &-block-sm {
        padding-block: 1rem;

        @media (min-width: 45em) {
            padding-block: 1.25rem;
        }

        @media (min-width: 70em) {
            padding-block: 1.5rem;
        }
    }

    &-block-md {
        padding-block: 1.75rem;

        @media (min-width: 45em) {
            padding-block: 2rem;
        }

        @media (min-width: 70em) {
            padding-block: 2.25rem;
        }
    }

    &-block-lg {
        padding-block: 2.25rem;

        @media (min-width: 45em) {
            padding-block: 2.5rem;
        }

        @media (min-width: 70em) {
            padding-block: 2.75rem;
        }
    }
}

.var-margin {
    &-top-sm {
        margin-top: 1rem;

        @media (min-width: 45em) {
            margin-top: 1.25rem;
        }

        @media (min-width: 70em) {
            margin-top: 1.5rem;
        }
    }

    &-top-md {
        margin-top: 1.75rem;

        @media (min-width: 45em) {
            margin-top: 2rem;
        }

        @media (min-width: 70em) {
            margin-top: 2.25rem;
        }
    }

    &-top-lg {
        margin-top: 2.25rem;

        @media (min-width: 45em) {
            margin-top: 2.5rem;
        }

        @media (min-width: 70em) {
            margin-top: 2.75rem;
        }
    }

    &-bottom-sm {
        margin-bottom: 1rem;

        @media (min-width: 45em) {
            margin-bottom: 1.25rem;
        }

        @media (min-width: 70em) {
            margin-bottom: 1.5rem;
        }
    }

    &-bottom-md {
        margin-bottom: 1.75rem;

        @media (min-width: 45em) {
            margin-bottom: 2rem;
        }

        @media (min-width: 70em) {
            margin-bottom: 2.25rem;
        }
    }

    &-bottom-lg {
        margin-bottom: 2.25rem;

        @media (min-width: 45em) {
            margin-bottom: 2.5rem;
        }

        @media (min-width: 70em) {
            margin-bottom: 2.75rem;
        }
    }

    &-block-sm {
        margin-block: 1rem;

        @media (min-width: 45em) {
            margin-block: 1.25rem;
        }

        @media (min-width: 70em) {
            margin-block: 1.5rem;
        }
    }

    &-block-md {
        margin-block: 1.75rem;

        @media (min-width: 45em) {
            margin-block: 2rem;
        }

        @media (min-width: 70em) {
            margin-block: 2.25rem;
        }
    }

    &-block-lg {
        margin-block: 2.25rem;

        @media (min-width: 45em) {
            margin-block: 2.5rem;
        }

        @media (min-width: 70em) {
            margin-block: 2.75rem;
        }
    }
}
